<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>All Users</title>

    <!-- meta data about the content/data. -->
    <meta name="description" content="All Users registered to use My Schedule">
    <meta name="keywords" content="Schedule Events User Account Date Time Appointment Organize">
    <meta name="author" content="Kaitlin Brockway">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <!--[if lt IE 9]>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

  </head>



  <body>

    <div class="wrapperHeader">
      <div class="user_index_header_image">
        <%= image_tag 'header.jpg' %>
      </div>
      <div style="clear:both;"></div>
    </div>



    <!--<div class="parallax">-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>All Users</h1>
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <% if @users.present? %>
              <% @users.each do |user| %>
                <div class="row">
                  <div class="col-sm-3 grey-border-lr"><%= user.first_name %></div>
                  <div class="col-sm-3 grey-border-r"><%= user.last_name %></div>
                  <div class="col-sm-3 grey-border-r"><%= user.email %></div>
                  <!-- TODO: Add if can edit, delete and/or other rights -->
                </div>
              <% end %>
            <% else %>
              <!-- TODO: Users empty message -->

            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <a target="_blank" title="Find us on Facebook" href="https://www.instagram.com/bouldertentrentals/"><%= image_tag('facebook.png', class: 'icon-link', alt: 'Follow me on Facebook') %></a>
          <a target="_blank" title="Find us on Instagram" href="https://www.instagram.com/bouldertentrentals/"><%= image_tag('instagram.png', class: 'icon-link', alt: 'Follow me on Instagram') %></a>

          <!--  TODO: Add links for: help menu, map -->
        </div>
      </div>
    <!--</div>-->


  <!--<script src="js/scripts.js"></script>-->
  </body>
</html>