<nav class="navbar navbar-default">
  <div class="container-fluid">


    <div class="navbar-header">
    </div>


    <div class="navbar-collapse">

        <ul class="navbar-nav">
          <li class="nav-item dropdown" role="menu"><%= link_to t(:calendar), calendar_path %></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" >
            <%# Navbar label that expands Sub-Menu-1 on click %>
            <%= link_to "My Account".html_safe, '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} %>

            <%# Sub-Menu-1 Drop down content %>
            <ul class="dropdown-menu multi-level dropdown-content">
              <li><%= link_to "Edit", edit_user_path(current_user), class: "dropdown-menu-item" %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
            <%# END Sub-Menu-1 %>
          </li>
        </ul>


      <% if (can? :read, User) %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" >
            <%# Navbar label that expands options on click %>
            <%= link_to "All Users".html_safe, '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} %>

            <ul class="dropdown-menu multi-level dropdown-content">
              <li><%= link_to t(:view_all_users), users_path %></li>
              <li class="divider"></li>
              <% if (can? :update, User) %>
                  <% User.all.each do |user| %>
                    <li><%= link_to "Edit #{user.first_name} #{user.last_name}", edit_user_path(user), class: "dropdown-menu-item" %> </li>
                    <li class="divider"></li>
                  <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>


    </div>


  </div>
</nav>