<!DOCTYPE html>
<html>
  <head>
    <title>My Schedule</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    <!-- TODO: Check what changing "reload" to true does -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <!-- TODO :  -->
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div class="container">
      <!-- TODO: put in flash and bread crumbs  AND section for loading graphics -->
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <div class="modal fade" id="ajax-modal" role="dialog" aria-hidden="true"></div>
  </body>
</html>